/* Stylesheet for bookmark pages */
p.bookmark-box
{
line-height:250%
}
p.bookmark-box a
{
color:#000000;
background-color:#FFFFFF;
text-decoration:none;
/*width:100px; */
padding:2px 1em;
border-style:solid;
border-width:4px;
border-radius:8px;
border-color:#00AA00;
margin:5px;
}
p.bookmark-box a:hover
{
color:#000000;
background-color:#AAFFAA;
}
nav
{
line-height:250%
}
nav a
{
color:#000000;
background-color:#FFFFFF;
text-decoration:none;
/*width:100px; */
padding:2px 1em;
border-style:solid;
border-width:4px;
border-radius:8px;
border-color:#AA00AA;
margin:5px;
}
nav a:hover
{
color:#000000;
background-color:#AAAAFF;
}
